<!DOCTYPE html>
<!-- This website template was created by: Deivid Mafra, Sherwayne Palmer, Diego Perez, Yash Deepak 05/03/2019 -->
<html lang="en">

<head>
    <script src="scripts/Specs_scripts.js"></script>
    <title>Home</title>
    <meta charset="utf-8">
</head>
<!--author:Sherwayne Palmer -->
<input type="hidden" id="pageIdent" value="homePage">

<table class="page_heading">
    <tr>
        <td>Featured</td>
    </tr>
</table>

<section>
    <div>
        <h3 class="adj_cont"> Jabowalkees</h3>
        <img class="home_featured_img_size" src="images/image (3).jpeg" alt="featured image">
        <div>
            <p class="adj_cont"> The Jabowalkees are our premier shoe <span> <a href="#" class="smartphones r_galaxyS10">Read Review
        </a></span></p>
        </div>
    </div>
</section>

<table class="page_heading">
    <tr>
        <td>T-Shirts</td>
    </tr>
</table>

<div class="row">
    <div class="column">
        <img src="images/T-shirt (1).jpeg">
    </div>
    <div class="column">
        <img src="images/T-shirt (2).jpeg">
    </div>
    <div class="column">
        <img src="images/T-shirt (3).jpeg">
    </div>
</div>
<!--<table id="smartphones_tb" class="text-center">

    <tr>
        <td class="smartphones_tb_data"><img class="home_shirt_img_size" src="images/T-shirt (1).jpeg" alt=""></td>
        <td class="smartphones_tb_data"><img class="home_shirt_img_size" src="images/T-shirt (2).jpeg" alt=""></td>
        <td class="smartphones_tb_data"><img class="home_shirt_img_size" src="images/T-shirt (3).jpeg" alt=""></td>
    </tr>

</table> -->

</html>