<!DOCTYPE html>
<!-- This website template was created by: Deivid Mafra, Sherwayne Palmer, Diego Perez, Yash Deepak 05/03/2019 -->
<html lang="en">

<head>
    <script src="scripts/Specs_scripts.js"></script>
    <script src="scripts/smartPhones.js"></script>
    <title>Products</title>
    <meta charset="utf-8">
</head>

<input type="hidden" id="pageIdent" value="smartphonesPage">
<table class="page_heading">
    <tr>
        <td>Shoes</td>
    </tr>
</table>

<div class="row">
    <div class="column">
        <img src="images/image (13).jpeg">
    </div>
    <div class="column">
        <img src="images/image (20).jpeg">
    </div>
    <div class="column">
        <img src="images/image (36).jpeg">
    </div>
</div>

<!--<table id="smartphones_tb" class="text-center">

    <tr>
        <td class="smartphones_tb_heading">Shoe 1</td>
        <td class="smartphones_tb_heading">Shoe 2</td>
        <td class="smartphones_tb_heading">Shoe 3</td>
    </tr>
    <tr>

        <td class="smartphones_tb_data"><img class="products_shoe_img_size" src="images/image (13).jpeg" alt=""></td>
        <td class="smartphones_tb_data"><img class="products_shoe_img_size" src="images/image (20).jpeg" alt=""></td>
        <td class="smartphones_tb_data"><img class="products_shoe_img_size" src="images/image (36).jpeg" alt=""></td>
    </tr>-->

</table>

</html>