<!DOCTYPE html>

<html lang="en">

<head>
    <title>Products</title>
    <meta charset="utf-8">
    <script src="../scripts/jquery-2.1.3.min.js"></script>
</head>

<input type="hidden" id="pageIdent" value="productsPage">
<table class="page_heading">
    <tr>
        <td>Shoes</td>
    </tr>
</table>

<div class="row">
    <div class="column">
        <img src="images/image (13).jpeg">
        <br />
        <a href="#" id="shoe1" class="shoe-view">
        Shoe 1</a>
    </div>
    <div class="column">
        <img src="images/image (20).jpeg">
        <br />
        <a href="#" id="shoe2" class="shoe-view">
        Shoe 2</a>
    </div>
    <div class="column">
        <img src="images/image (36).jpeg">
        <br />
        <a href="#" id="shoe3" class="shoe-view">
        Shoe 3</a>
    </div>
</div>

<!--<table id="smartphones_tb" class="text-center">

    <tr>
        <td class="smartphones_tb_heading">Shoe 1</td>
        <td class="smartphones_tb_heading">Shoe 2</td>
        <td class="smartphones_tb_heading">Shoe 3</td>
    </tr>
    <tr>

        <td class="smartphones_tb_data"><img class="products_shoe_img_size" src="images/image (13).jpeg" alt=""></td>
        <td class="smartphones_tb_data"><img class="products_shoe_img_size" src="images/image (20).jpeg" alt=""></td>
        <td class="smartphones_tb_data"><img class="products_shoe_img_size" src="images/image (36).jpeg" alt=""></td>
    </tr>-->

</table>
<script>
    $(document).ready(function() {
        $(".shoe-view").click(function() {
            $("#inner_container").load("views/ProductView.html"); //load contact us page on click
        });

    });
</script>

</html>